/* css for the search button */
.submit-btn {
  border-radius: 0 0.3rem;
  font-size: var(--font-size-500);
  color: var(--accent-lighter);
  background-color: var(--accent-light);
}
.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.4rem;
}
.search-bar {
  font-size: var(--font-size-500);
  color: var(--accent-black);
  border: 2px solid var(--third-color);
}
.search-bar[type="text"]:focus {
  outline: 2px solid var(--accent-light);
}
