/* css for the header */
.app-header {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-size: var(--font-size-600);
  font-weight: 800;
  border-radius: 0.5rem;
  background-color: var(--third-color);
}

/* css for the flavor text in the body */
.app-text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: var(--font-size-400);
  font-weight: 300;
  color: var(--secondary-color);
}
